<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button (click)="alternarImagem()" class="btn btn-outline-primary">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash': 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th>      
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
          src="http://localhost:5000/img/{{evento.imageURL}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
            <button class="btn btn-sm btn-success" tooltip="Editar" (click)="openModal(template)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" tooltip="Excluir">
              <i class="fa fa-eraser"></i>
            </button>
        </div>        
      </td>
    </tr>    
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td class="text-center" colspan="7">
        <h3>Nenhum evento encontrado!</h3>
      </td>
    </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>


<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Tema</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
      formControlName="tema">
      <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" class="invalid-feedback">Tema deve ter no mínimo 4 caracteres.</div>
      <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" class="invalid-feedback">Tema deve ter no máximo 50 caracteres.</div>
      <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" class="invalid-feedback">O tema é obrigatório.</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Local</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
      formControlName="local">
      <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched" class="invalid-feedback">O local é obrigatório.</div>
    </div>
    <div class="form-group col-md-4">
      <label>Data e Hora</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
      formControlName="dataEvento">
      <div *ngIf="registerForm.get('dataEvento').hasError('required') && registerForm.get('dataEvento').touched" class="invalid-feedback">A data e hora são obrigatórias.</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Qtd Pessoas</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && registerForm.get('qtdPessoas').touched}"
      formControlName="qtdPessoas">
      <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && registerForm.get('qtdPessoas').touched" class="invalid-feedback">A quantidade de pessoas é obrigatória.</div>
      <div *ngIf="registerForm.get('qtdPessoas').hasError('max') && registerForm.get('qtdPessoas').touched" class="invalid-feedback">Quantidade de pessoas deve ser menor que 120000.</div>
    </div>
    <div class="form-group col-md-9">
      <label>Imagem</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors && registerForm.get('imagemURL').touched}"
      formControlName="imagemURL">
      <div *ngIf="registerForm.get('imagemURL').hasError('required') && registerForm.get('imagemURL').touched" class="invalid-feedback">A imagem é obrigatória.</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Telefone</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
      formControlName="telefone">
      <div *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched" class="invalid-feedback">O telefone é obrigatório.</div>
    </div>
    <div class="form-group col-md-4">
      <label>Email</label>
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
      formControlName="email">
      <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="invalid-feedback">O e-mail é obrigatório.</div>
      <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="invalid-feedback">E-mail inválido.</div>
    </div>
  </div> 
</form>
<br>
<button class="btn btn-secondary" (click)="openModal(template)">
  Fechar
</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>